/*---------- base ---------*/
*{
	padding:0px;
	margin:0px;
}
html{
	background:#fff;
}
body{
	font-size:14px;
	position:relative;
}
a{
	color:#000;
	text-decoration:none;
	-webkit-transition:all ease-in-out .4s; 
	-moz-transition:all ease-in-out .4s; 
	-o-transition:all ease-in-out .4s; 
	transition:all ease-in-out .4s;
}
a:hover{
	color:#0193DE;
	text-decoration:none;
	-webkit-transition:all ease-in-out .4s; 
	-moz-transition:all ease-in-out .4s; 
	-o-transition:all ease-in-out .4s; 
	transition:all ease-in-out .4s;
}
ul{
	list-style:none;
}
input,select,button{
	font:14px "微软雅黑",Arial,Tahoma;
	vertical-align:middle;
}
.content img{
	border:none;
	max-width:100%;
	height:auto;
}
.blank10{
	width:100%;
	height:10px;
	display:block;
	overflow:hidden;
	clear:both;
}
.blank20{
	width:100%;
	height:20px;
	display:block;
	overflow:hidden;
	clear:both;
}
.blank30{
	width:100%;
	height:30px;
	display:block;
	overflow:hidden;
	clear:both;
}
.clear{
	width:100%;
	clear:both;
}
.pages{
	width:100%;
	padding:20px 0px;
	text-align:center;
	clear:both;
}
.pages li{
	list-style-type:none;
	display:inline;
}
.pages a{
	padding:5px 10px;
	border:1px solid #c8c8c8;
	font-weight:bold;
	margin-right:10px;
}
.pages .current{
	background:#0193DE;
	border-color:#0193DE;
	color:#FFF;
	font-weight:700;
}
.shangxiapian{
	padding-top:20px;
	margin-top:20px;
	border-top:1px dashed #c8c8c8;
}
.shangxiapian li{
	line-height:30px;
	font-size:12px;
	color:#999;
}
.shangxiapian strong{
	font-size:14px;
	color:#000;
}
.shangxiapian li a{
	font-size:14px;
}
.shangxiapian li a:hover{
	color:#0193DE;
}
.search{
	overflow:hidden;
	border:1px solid #fff;
	-moz-border-radius: 25px;      /* Gecko browsers */
    -webkit-border-radius: 25px;   /* Webkit browsers */
    border-radius:25px;            /* W3C syntax */
	margin-top:30px;
	width:138px;
	height:25px;
	float:Right;
}
.search .key_text{
	height:25px;
	float:left;
	width:100px;
	overflow:hidden;
	text-indent:10px;
	line-height:22px;
	color:#fff;
	outline:none;
	font-size:12px;
	background:none;
	border:none;
}
.search .search_btn{
	float:right;
	margin:5px 5px 0 0;
	overflow:hidden;
}
.main{
	width:1200px;
	overflow:hidden;
	margin:0px auto;
}
/*---------------------主体开始-----------------------*/
.top_zone{
	width:100%;
	height:35px;
	min-width:1200px;
	overflow:hidden;
	background-color:#292929;
}
.top{
	width:1200px;
	margin:0px auto;
	overflow:hidden;
}
.top_l{
	float:left;
	line-height:35px;
	font-size:12px;
	color:#e0e0e0;
}
.lan{
	overflow:hidden;
	margin-top:5px;
}
.lan span a{
	padding-left:25px;
	font-size:12px;
	text-transform:uppercase;
}
.cn{
	background:url(../images/cn.png) left center no-repeat;
	float:right;
	line-height:35px;
	font-family:"微软雅黑",Arial,Tahoma;
}
.en{
	background:url(../images/en.png) left center no-repeat;
	line-height:35px;
	float:left;
	margin-right:10px;
}
.header_zone{
	width:100%;
	height:85px;
	background:#0193DE;
}
.header{
	width:1200px;
	margin:0px auto;
	height:85px;
}
.logo{
	float:left;
	margin-top:10px;
}
.nav {
	width:auto;
	float:left;
	margin-left:50px;
}
.nav .nLi {
	float:left;
	position:relative;
	display:inline;
	z-index:999999;
}
.nav .nLi h3 {
	float:left;
}
.nav .nLi h3 a {
	display:block;
	font-size:16px;
	line-height:85px;
	text-transform:uppercase;
	color:#fff;
	font-weight:normal;
}
.nav .sub {
	display:none;
	left:0;
	top:85px;
	position:absolute;
	background:#f0f0f0;
	/* Gecko browsers */
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	 
	/* Webkit browsers */
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	 
	/* W3C syntax */
	border-bottom-right-radius: 3px;
	border-bottom-left-radius:  3px;
	z-index:9999999;
}
.nav .sub li {
	zoom:1;
}
.nav .sub a {
	display:block;
	padding:10px;
	line-height:20px;
	border-bottom:1px dotted #ddd;
	text-align:center;
}
.nav .sub a:hover {
	background:#0193DE;
	color:#fff;
}
.nav .on .nav_line {
	width:100%;
}

.header_r{
	width:auto;
	float:right;
}


/*-----------------头部end------------------------*/
.ny_banner{
	width:100%;
	min-width:1200px;
	overflow:hidden;
	height:400px;
}

.wz_zone{
	width:100%;
	height:50px;
	line-height:50px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#C5C5BE,direction=120,strength=4);
    /*兼容ie*/
    -moz-box-shadow: 2px 2px 10px #C5C5BE;
    /*兼容firefox*/
    -webkit-box-shadow: 2px 2px 10px #C5C5BE;
    /*兼容safari或chrome*/
    box-shadow:2px 2px 10px #C5C5BE;
    /*兼容opera或ie9*/
	margin-bottom:3px;
	background-color:#fff;
}
.wz{
	width:1200px;
	overflow:hidden;
	margin:0px auto;
}
.wz span{
	color:#666;
	font-size:14px;
	float:right;
	background:url(../images/wz_ico.png) left center no-repeat;

}
.wz span a{
	color:#666;
	font-size:14px;
}
.wz h2{
	font-size:24px;
	color:#0193DE;
	text-transform:uppercase;
	text-indent:40px;
	background:url(../images/wz.png) left center no-repeat;
	line-height:50px;
}
/*----------后来加的子栏目样式--------*/
.menulist{
	width:100%;
	min-width:1125px;
	border-bottom:#e1e1e1 1px solid;
	background-color:#f1f1f1;

}
.menulist ul {
	width:95%;
	margin:0px auto;
	text-align:center;
}
.menulist ul li {
	display:inline-block;
	*display:inline;
	zoom:1;
	text-align:center;
	border-right:1px solid #e1e1e1;
	height:100px;
	line-height:100px;
	background-color:#f9f9f9;
}
.menulist ul li:first-child{
	border-left:1px solid #e1e1e1;
}
.menulist ul li .menua {
	display:block;
	color:#666;
	font-size:18px;
	padding: 0 2em;
}
.menulist ul li:hover .menua,.menulist ul #sel01 .menua {
	background-color:#000000;
	color:#fff;
}

.content{
	font-size:14px;
	color:#333;
	line-height:25px;
	padding:1em 0;
}
.content img{
	max-width:100%;
	height:auto;
	display:block;
	margin:10px auto;
}

.ny_title{
	text-align:center;
	font-size:28px;
	text-transform:uppercase;
	line-height:70px;
	font-family:Times New Roman;
}

/*------footer-------*/
.footer_zone{
	width:100%;
	overflow:hidden;
	min-width:1200px;
	margin-top:40px;
	background:#2a2a2a;
}
.footer_ico{
	width:1185px;
	overflow:Hidden;
	padding-bottom:30px;
	margin:30px auto 0px auto;	
	text-align:center;
}
.footer_ico a{
	margin:0 30px;
}
.footer{
	width:1200px;
	overflow:Hidden;
	margin:40px auto 0px auto;
	padding-bottom:40px;
}
.footer dl{
	float:left;
}
.footer dl dt{
	display:block;
	font-size:16px;
	color:#fff;
	margin-bottom:15px;
	text-transform:uppercase;
}
.footer dl dt a{
	font-size:16px;
	color:#fff;	
	text-transform:uppercase;
}
.footer dl dd{
	line-height:25px;
	color:#fff;
}
.footer dl dd a{
	color:#fff;
}
dl.footer_r{
	width:460px;
	float:right!important;
	margin-right:0!important;
}
dd.footer_lxxx{
	width:320px;
	float:left;
	overflow:hidden;	
}
dd.footer_ewm{
	width:130px;
	float:right;
	overflow:hidden;
}
dd.footer_ewm img{
	max-width:100%;
	height:auto;
	display:block;
}
.copy_zone{
	background-color:#2A2A2A;
	overflow:hidden;
	border-top:1px solid #848484;
}
.copy{
	overflow:hidden;
	padding:10px 0;
	margin:0px auto;
	width:1200px;
	color:#848484;
	text-align:center;
}

/*-------------------footer end------------------------*/
.btn_more{
	text-align:center;
}
.btn_more a{
	width:200px;
	height:40px;
	line-height:40px;
	text-align:center;
	margin:2em auto;
	border:1px solid #666;
	-moz-border-radius: 25px;      /* Gecko browsers */
    -webkit-border-radius: 25px;   /* Webkit browsers */
    border-radius:25px;            /* W3C syntax */
	background-color:#fff;	
	display:block;
}
.btn_more a:hover{
	background-color:#0193DE;
	border-color:#0193DE;
	color:#fff;
}
.ny_h1{
	font-size:20px;
	text-align:center;
	padding:0px 0 10px 0;
	background:url(../images/line.jpg) bottom center no-repeat;
	margin-bottom:1em;
	color:#000;
}
.wzinfo{
	text-align:center;
}
.tulist400{
	width:940px;
}
.tulist400 li{
	list-style-type:none;
	float:left;
	width:217px;
	margin-right:11px;
	margin-bottom:15px;
	text-align:center;
}
.tulist400 li img{
	width:100%;
	height:auto;
}
.tulist400 li h3{
	font-size:14px;
	font-weight:normal;
	display:block;
	line-height:30px;
}


.tulist240{
	width:auto;
}
.tulist240 li{
	list-style-type:none;
	float:left;
	width:16%;
	margin:1em 0.2%;
	text-align:center;
}
.tulist240 li img{
	width:100%;
	max-width:240px;
	height:auto;
	
}
.tulist240 li h3{
	font-size:14px;
	font-weight:normal;
	display:block;
}
.ny_main{
	width:1200px;
	overflow:hidden;
	margin:2em auto 0 auto;
}
.left_wrap{
	float:left;
	width:250px;
	overflow:hidden;
}
.left_wrap h2{
	width:auto;
	height:45px;
	line-height:45px;
	background:#0193DE;
	/* Gecko browsers */
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	/* Webkit browsers */
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	/* W3C syntax */
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	text-indent:20px;
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
}
.left_lxxx{
	padding:10px;
	font-size:14px;
	color:#333;
	line-height:25px;
	border:1px solid #d8d8d8;
	border-top:none;
	margin-bottom:5px;
	word-break:break-all;
}
.left_lxxx a{
	color:#333;
}
.right_wrap{
	width:910px;
	overflow:Hidden;
	float:right;
}

.right_title{
	padding-bottom:10px;
	border-bottom:1px solid #d1d1d1;	
}
.right_title h2{
	font-size:26px;
	color:#333;
	text-indent:15px;
}
.tulist{
	overflow:hidden;
	clear:both;
	width:940px;
	margin-top:20px;
}
.tulist li{
	text-align:center;
	list-style-type:none;
	float:left;
	width:285px;
	margin:0 15px 20px 0px;
	overflow:Hidden;
	border:1px solid #e1e1e1;
	background-color:#fff;
	text-align:center;
}
.tulist li:hover{
	border:1px solid #0193DE;
}
.tulist li img{
	width:100%;
	height:auto;
	display:block;
	border-bottom:1px solid #e1e1e1;
}
.tulist li h3{
	background-color:#e1e1e1;
}
.tulist li h3 a{
	line-height:40px;
	font-size:14px;
	color:#333;
}
.tulist li:hover h3{
	background-color:#0193DE;
}
.tulist li:hover h3 a{
	color:#fff;
}

/*---------------------------------产品详情页-----------------------*/
.pro_main{
	width:auto;
	margin:20px auto 0 auto;
	overflow:hidden;
}
.pro_left{
	width:455px;
	float:left;
}
.pro_right{
	width:440px;
	float:right;
	overflow:hidden;
	line-height:25px;
}
.pro_right h2{
	font-size:22px;
	color:#0193DE;
	padding-bottom:10px;
	display:block;
	border-bottom:1px dashed #0193DE;
}
.pro_info,.pro_info div{
	color:#666;
	margin-top:10px;
	font-size:16px;
	overflow:hidden;
}
.pro_detail{
	overflow:hidden;
	margin-top:20px;
	line-height:25px;
	color:#333;
	font-size:14px;
}
.tab_con table td{
	text-indent:20px;
}
#tabbox{ 
	width:auto; 
	overflow:hidden;
	margin-top:50px;
	margin-bottom:50px;
}
.tab_conbox{
	border: 1px solid #d1d1d1;
	border-top: none;
}
.tab_con{ 
	display:none;
}
.tab_con img{
	max-width:100%;
	height:auto;
	display:block;l
}
.tabs{
	height: 47px;
	border-bottom:1px solid #d1d1d1;
	width: 100%;
}
.tabs li{
	height:46px;
	line-height:46px;
	float:left;
	margin-bottom: -1px;
	background: #f0f0f0;
	overflow: hidden;
	position: relative;
	margin-right:10px;
	font-size:14px;
	font-weight:bold;
}
.tabs li a {
	display: block;
	padding: 0 20px;
	outline: none;
	
}
.tabs li a:hover {
	background: #0193DE;
	color:#fff;
}	
.tabs .thistab a{
	color:#fff;
}
.tabs .thistab,.tabs .thistab a:hover{
	background: #0193DE;
	color:#fff;
}

.tab_con {padding:20px;font-size: 14px; line-height:30px;}

dl.tuwenlist{
	width:100%;
	margin:10px auto;
	padding-bottom:10px;
	overflow:Hidden;
	border-bottom:1px dashed #e1e1e1;
}
dl.tuwenlist dt{
	float:left;
	width:220px;
	overflow:hidden;
}
dl.tuwenlist dt img{
	width:100%;
	height:auto;
}
dl.tuwenlist dd{
	width:670px;
	float:right;
}
dl.tuwenlist dd h2{
	font-size:16px;
	margin-bottom:10px;
}
dl.tuwenlist dd h2 a{
	color:#000;
}
dl.tuwenlist dd h2 a:hover{
	color:#0193DE;
}
dl.tuwenlist dd .info{
	font-size:14px;
	line-height:22px;
	color:#666;
}
dl.tuwenlist dd span{
	margin-top:10px;
	float:right;
}
dl.tuwenlist dd span a{
	padding:5px 20px;
	background-color:#0193DE;
	text-align:center;
	color:#fff;
	display:inline-block;
	*display:inline;
	zoom:1;
	font-size:12px;
}
dl.tuwenlist dd span a:hover{
	background-color:#0193DE;
}

/*----------------FAQ列表---------------*/
.faqs {
	
}
.faqs dt {
	font-weight:bold;
	background:url(../images/q.gif) 0 4px no-repeat;
	padding-left:30px;
	position:relative;
	line-height:30px;
	font-size:16px;
	margin:10px 0;
}
.faqs dt:hover {
	cursor:pointer
}
.faqs dd {
	background:url(../images/a.gif) 0 2px no-repeat;
	padding:15px 15px 15px 30px;
	position:relative;
	color:#333;
	background-color:#f1f1f1;
	line-height:30px;
}
.faqs .hover {
	color:#000000;
}

/*-----------下载样式------------*/
.downlist_title{
	width:100%;
	overflow:hidden;
	height:50px;
	background-color:#f1f1f1;
	line-height:50px;
	font-weight:bold;
	color:#000;
	font-size:14px;
}
.downlist_title a:hover{
	color:#CB2525;
}
.downlist{
	line-height:45px;
	border-bottom:1px solid #d1d1d1;
	overflow:hidden;
	height:45px;
}
.downlist:hover{
	background-color:#000000;
	color:#fff;
}
.downlist:hover a{
	color:#fff;
}
.down_title{
	width:50%;
	text-indent:20px;
	float:left;
	display:block;
}
.down_geshi{
	width:20%;
	float:left;
	display:block;

}
.down_size{
	width:20%;
	float:right;
	display:block;
}

.pro_title{
	display:block;
	overflow:hidden;
	text-align:center;
}
.pro_title h2{
	font-size:40px;
	text-transform:uppercase;
	display:block;
	padding-bottom:10px;
	background:url(../images/pro_title.png) bottom center no-repeat;
}
.pro_title p{
	overflow:hidden;
	margin-top:15px;
	color:#666;
}
ul.index_cplist{
	overflow:hidden;
	clear:both;
	width:auto;
	margin-top:25px;
}
ul.index_cplist li{
	list-style-type:none;
	overflow:Hidden;
	background:#fff;
	padding:15px;
	height:200px;
	border-bottom:5px solid #DADADA;
	margin-top:15px;
	display:block;
}
ul.index_cplist li:hover{
	border-color:#0193DE;
	transition:0.5s;
}
ul.index_cplist li .txt{
	float:left;
	overflow:hidden;
}
ul.index_cplist li .txt h3{
	display:block;
	font-size:30px;
	color:#0093dd;
	font-weight:normal;
	margin-top:40px;
}
ul.index_cplist li .txt p{
	overflow:hidden;
	display:block;
	margin-top:20px;
	line-height:30px;
	font-size:18px;
	color:#747474;
}

ul.index_cplist li .pic{
	float:right;
	overflow:hidden;
	width:auto;
}
ul.index_cplist li .pic img{
	height:200px;
	width:auto;
	display:block;
}

#c1{
	width:430px;
	float:left;
}
#c1 .txt{
	width:220px;
}
#c2{
	width:345px;
	float:left;
	margin-left:10px;
}
#c2 .txt{
	width:140px;
}
#c3{
	width:315px;
	float:right;
}
#c3 .txt{
	width:100px;
}

#c4{
	width:335px;
	float:left;
}
#c4 .txt{
	width:135px;
}
#c5{
	width:365px;
	float:left;
	margin-left:10px;
}
#c5 .txt{
	width:160px;
}
#c6{
	width:390px;
	float:right;
}
#c7 .txt{
	width:190px;
}

.index_app_zone{
	width:100%;
	overflow:hidden;
	padding:2em 0;
	background-color:#32373B;
}
.app_title{
	display:block;
	overflow:hidden;
	text-align:center;
	margin-bottom:30px;
	font-size:36px;
	color:#fff;
}

.zlm{
	width:auto;
	border:1px solid #d8d8d8;
	border-top:none;
	margin-bottom:5px;
}
.zlm dl{

}
.zlm dl dt{
	height:45px;
	background-color:#f0f0f0;
	line-height:45px;
	text-indent:20px;
	border-bottom:1px solid #d1d1d1;
}
.zlm dl dt a{
	color:#333;
}

.zlm dl dt:hover,.zlm dl #on{
	background-color:#fff;
}
.zlm dl dt:hover a,.zlm dl #on a{
	color:#000;
}



.maplist{
	width:100%;
}
.maplist dl{
	width:100%;
	overflow:hidden;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px dashed #c9c9c9;
}
.maplist dl dt{
	width:100%;
	overflow:hidden;
}
.maplist dl dt a{
	background-color:#008DCB;
	font-weight:bold;
	color:#fff;
	padding:5px 25px;
}
.maplist ul{
	width:100%;
	overflow:hidden;
}
.maplist ul li{
	list-style-type:none;
	width:auto;
	line-height:40px;
}
.maplist ul li a{
	padding:0 24px;
	color:#333;
	background-color:#fff;
}
.maplist ul li li a{
	color:#999;
}

.wd{
	width:1200px;
	overflow:hidden;
	margin:0px auto;
}
.index_pro{
	width:1200px;
	margin:40px auto 0 auto;
	overflow:hidden;
}
.index_pro .t{
	text-align:center;
	overflow:hidden;
}
.index_pro .t h2{
	font-size:30px;
	color:#282828;
	display:block;
	text-transform:uppercase;
}
.index_pro .t .line{
	width:95px;
	height:1px;
	display:block;
	margin:8px auto 0 auto;
	background-color:#282828;
}
.index_pro ul{
	width:1250px;
	overflow:hidden;
	margin:35px auto 0px auto;
}
.index_pro ul li{
	width:382px;
	list-style-type:none;
	float:left;
	text-align:center;
	margin-right:20px;
}
.index_pro ul li img{
	width:380px;
	height:auto;
	border:1px solid #d5d5d5;
}
.index_pro ul li h4{
	display:block;
	margin-top:20px;
	overflow:hidden;
}
.index_pro ul li h4 a{
	font-weight:normal;
	color:#404040;
	font-size:14px;
}
.pro_more{
	display:block;
	margin:25px auto 0 auto;
	width:125px;
	height:35px;
	text-align:center;
	line-height:35px;
	border:1px solid #1C449C;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
	color:#1C449C;
}
.pro_more:hover{
	background-color:#1C449C;
	transition:0.5s;
	color:#fff;
}
.case_title{
	width:auto;
	font-size:24px;
	color:#333333;
	font-weight:normal;
	border-bottom:1px solid #bebebe;
	padding-bottom:10px;
	text-transform:uppercase;
}
.index_case{
	width:1220px;
	overflow:hidden;
	margin-top:25px;
}
.index_case li{
	list-style-type:none;
	float:left;
	width:290px;
	text-align:center;
	margin-right:14px;
}
.index_case li img{
	width:100%;
	height:220px;
	border:1px solid #cdcdcd;
}
.index_case li h3{
	display:block;
	line-height:30px;
}
.index_case li h3 a{
	font-weight:normal;
	font-size:12px;
	color:#666;
}
.tbox{
	width:525px;
	overflow:hidden;
}
.news{
	background:url(../images/news.png) center center no-repeat;
}
.news ul{
	width:auto;
	overflow:hidden;
	padding-top:20px;
}
.news ul li{
	line-height:35px;
	background:url(../images/sanjiao.jpg) left center no-repeat;
	padding-left:15px;
	border-bottom:1px dotted #a3a3a3;
}
.news ul li a{
	color:#616161;
}
.news ul li span{
	float:right;
	font-size:12px;
	color:#828282;
}
.news_content{
	padding:15px;
	width:auto;
}
.news_content dl{
	width:auto;
	overflow:hidden;
	margin-bottom:25px;
}
.news_content dl dt{
	width:100px;
	float:left;
	overflow:hidden;
}
.news_content dl dt img{
	width:100%;
	height:auto;
}
.news_content dl dd{
	width:340px;
	float:right;
	overflow:hidden;
}
.news_content dl dd h2{
	display:block;
}
.news_content dl dd h2 a{
	color:#000;
	font-size:16px;
	font-weight:normal;
}
.news_content dl dd p{
	font-size:12px;
	color:#666;
	line-height:25px;
}
/*----------------contact-------------*/
.contact_main{
	width:1200px;
	padding:10px 10px 30px 10px;
	overflow:hidden;
	margin:20px auto 0 auto;
}
.contact_left{
	width:400px;
	float:left;
	text-align:center;
}
.lxxx{
	margin-top:20px;
	line-height:30px;
	color:#333;
	font-size:14px;
	text-align:left;
	font-family:"宋体",Verdana;
}
.lxxx a{
	color:#333;
}
.contact_btn{
	width:140px;
	height:50px;
	font-size:20px;
	display:block;
	clear:both;
	text-align:center;
	line-height:50px;
	color:#fff;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
	background-color:#D71828;
}
.contact_btn:hover{
	background-color:#FF8500;
	color:#fff;
}
.contact_right{
	width:650px;
	float:right;
	border-left:1px solid #e5e5e5;
	padding-left:50px;
}
.contact_right .txt{
	color:#666;
	font-weight:bold;
	font-size:16px;
	line-height:30px;
	margin-top:20px;
	margin-bottom:20px;
}
.liuyan{
	width:800px;
}
.liuyan p{
	margin-bottom:20px;
	display:block;
	overflow:hidden;
}
.liuyan p label{
	width:58px;
	height:50px;
	float:left;
	font-size:0px;
	text-indent:-9999px;
}
.liuyan p label.name{
	background:url(../images/ico_name.png) center center no-repeat #9c9c9c;
}
.liuyan p label.msn{
	background:url(../images/ico_msn.png) center center no-repeat #9c9c9c;
}
.liuyan p label.email{
	background:url(../images/ico_email.png) center center no-repeat #9c9c9c;
}
.liuyan p label.web{
	background:url(../images/ico_web.png) center center no-repeat #9c9c9c;
}
.liuyan p input.text{
	width:305px;
	height:48px;
	font-size:14px;
	border:1px solid #ddd;
	border-left:none;
	padding-left:15px;
	line-height:48px;
	color:#666;
	float:left;
	outline:none;
}
.liuyan_l{
	width:380px;
	float:left;
}

.liuyan .content{
	width:600px;
	border:1px solid #ddd;
	min-height:150px;
	outline:none;
	color:#666;
	padding:0 15px;
}

.liuyan_btn{
	width:140px;
	height:40px;
	font-size:20px;
	text-align:center;
	line-height:40px;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	*display:inline;
	*zoom:1;
	border:none;
	margin-top:20px;
	margin-right:30px;
	background-color:#666;
}
.liuyan_btn:hover{
	background-color:#000;
	color:#fff;
}

.inquiry_txt{
	padding:15px;
	background-color:#f1f1f1;
	width:95%;
	margin:20px auto;
	font-size:14px;
	line-height:25px;
}
.biaodan{
	width:auto;
	overflow:hidden;
}
.biaodan p{
	display:block;
	margin:10px 0px;
	padding-left:50px;
}
.biaodan p label{
	width:150px;
	text-align:right;
	float:left;
	display:block;
	margin-right:10px;
	line-height:25px;
}
.biaodan p input{
	height:25px;
	line-height:25px;
	border:1px solid #d1d1d1;
	background:none;
	outline:none;
	width:350px;
	text-indent:10px;
}
.biaodan #content{
	width:330px;
	height:80px;
	border:1px solid #d1d1d1;
	background:none;
	outline:none;
	line-height:25px;
	padding:10px;
}
.biaodan #address{
	width:352px;
	border:1px solid #d1d1d1;
	background:none;
	outline:none;
}
.btn{
	padding-left:250px;
	margin-top:30px;
}
.btn input{
	padding:10px 30px;
	display:block;
	border:none;
	background-color:#ccc;
	float:left;
	margin-right:20px;
	cursor:pointer;
}
.btn input:hover{
	background-color:#0193DE;
	color:#fff;
}

.fenlei_title{
	text-align:center;
	margin-top:25px;
}
.fenlei_title h2{
	font-size:30px;
	color:#000;
	font-weight:normal;
	text-transform:uppercase;
}
.fenlei_title h3{
	font-size:14px;
	color:#a0a0a0;
	text-transform:uppercase;
}
ul.fenlei_list{
	width:1250px;
	overflow:hidden;
	margin-top:30px;
}
ul.fenlei_list li{
	float:left;
	list-style-type:none;
	overflow:hidden;
	width:150px;
	margin-right:25px;
}
ul.fenlei_list li img{
	width:144px;
	display:block;
	border:3px solid #b4b4b4;
	-moz-border-radius: 147px;      /* Gecko browsers */
    -webkit-border-radius: 147px;   /* Webkit browsers */
    border-radius:147px;            /* W3C syntax */
}
ul.fenlei_list li:hover img{
	border-color:#0076DA;
}
ul.fenlei_list h3{
	display:block;
	text-align:center;
	overflow:hidden;
	margin:10px 0;
}
ul.fenlei_list h3 a{
	color:#0075db;
	font-weight:normal;
}
ul.fenlei_list .fenlei_btn{
	width:auto;
	display:block;
	text-align:center;
	height:25px;
	border:1px solid #c4c4c4;
	-moz-border-radius: 25px;      /* Gecko browsers */
    -webkit-border-radius: 25px;   /* Webkit browsers */
    border-radius:25px;            /* W3C syntax */
	color:#666;
	line-height:25px;
}
ul.fenlei_list li:hover .fenlei_btn{
	background-color:#0075db;
	border-color:#0075db;
	color:#fff;
}



#tabbox2{ 
	width:100%; 
	min-width:1200px;
	overflow:hidden;
	margin-top:20px;
	position:relative;
}
#tabbox2 .line{
	width:100%;
	height:2px;
	border-top:1px solid #d1d1d1;
	position:absolute;
	left:0;
	top:25px;
	z-index:-1;
}
#tabbox2 .tab_conbox{
	border:none;
}
#tabbox2 .tab_con{ 
	display:none;
}

#tabbox2 .tabs2{
	height: 48px;
	text-align:center;
	border:none;
	width:100%;
	overflow:hidden;
}
#tabbox2 .tabs2 li{
	height:48px;
	line-height:48px;
	background: #000;
	overflow: hidden;
	font-size:18px;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
#tabbox2 .tabs2 li a {
	display: block;
	padding: 0 40px;
	outline: none;
	color:#fff;
}
#tabbox2 .tabs2 li a:hover {
	background: #0151B4;
	color:#fff;
}	
#tabbox2 .tabs2 .thistab a{
	color:#fff;
}
#tabbox2 .tabs2 .thistab,#tabbox2 .tabs2 .thistab a:hover{
	background: #0151B4;
	color:#fff;
}

#tabbox2 .tab_con {padding:20px;font-size: 16px; line-height:35px;}

.zone1_zh_cn{
	width:100%;
	min-width:1200px;
	height:424px;
	background:url(../images/zone1_cn.jpg) center center no-repeat;
}
.zone2_zh_cn{
	width:100%;
	min-width:1200px;
	height:419px;
	background:url(../images/zone2_cn.jpg) center center no-repeat;
}
.zone3_zh_cn{
	width:100%;
	min-width:1200px;
	height:490px;
	background:url(../images/zone3_cn.jpg) center center no-repeat;
}
.zone1_en{
	width:100%;
	min-width:1200px;
	height:523px;
	background:url(../images/zone1_en.jpg) center center no-repeat;
}
.zone2_en{
	width:100%;
	min-width:1200px;
	height:440px;
	background:url(../images/zone2_en.jpg) center center no-repeat;
}
.zone3_en{
	width:100%;
	min-width:1200px;
	height:376px;
	background:url(../images/zone3_en.jpg) center center no-repeat;
}
.pd{
	padding:10px;
	overflow:hidden;
}
.about_zone{
	width:100%;
	height:539px;
	min-width:1185px;
	background:url(../images/about_zone.jpg) center center no-repeat;
	margin-top:40px;
	overflow:hidden;
}
.about_box{
	width:640px;
	float:right;
	overflow:hidden;
	margin-top:25px;
}
.about_title{
	overflow:hidden;
}
.about_title h2{
	display:block;
	font-size:36px;
	text-transform:uppercase;
	padding-bottom:10px;
	background:url(../images/about_title.png) left bottom no-repeat;
}
.about_title h3{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-top:10px;
	background:#5996CD;
	color:#fff;
	padding:3px 5px;
	font-weight:normal;
}
.about_txt{
	color:#666;
	line-height:25px;
	margin-top:50px;
	overflow:hidden;
}
#about_more{
	display:block;
	margin:35px auto 0 auto;
	width:72px;
}

.grey_zone{
	width:100%;
	overflow:hidden;
	padding:1.5em 0 3em 0;
	background-color:#f2f2f2;
}
.grey_zone1{
	width:100%;
	overflow:hidden;
	margin-top:10px;
	padding:1.5em 0 3em 0;
	background-color:#fafafa;
}
.box{
	float:left;
	overflow:hidden;
	margin-right:40px;
}
.box1{
	width:290px;
}
.box2{
	width:310px;
}
.box3{
	width:305px;
}
.lmmc{
	width:auto;
	overflow:hidden;
	background:url(../images/lmmc.jpg) left center no-repeat;
	padding-left:20px;
}
.lmmc h2{
	font-size:24px;
	color:#151515;
	float:left;
	font-weight:normal;
}
.lmmc span{
	float:right;
	margin-top:8px;
	margin-right:10px;
}
.lmmc span a{
	font-size:12px;
	color:#fff;
	display:block;
	width:50px;
	height:20px;
	line-height:20px;
	text-align:center;
	background-color:#a0a0a0;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}

.index_newslist{
	width:1250px;
	margin-top:40px;
	overflow:hidden;
}
.index_newslist li{
	width:354px;
	height:401px;
	float:left;
	overflow:hidden;
	margin-right:28px;
	padding:10px;
	background:url(../images/news.png) no-repeat;
}

.index_newslist li .pic{
	width:354px;
	height:167px;
	position:relative;
	overflow:hidden;
	display:block;
}
.index_newslist li .pic img{
	max-width:100%;
	height:auto;
	display:block;
	margin-top:-50px;
}
.index_newslist li .pd{
	width:auto;
	display:block;
	padding:10px;
}
.index_newslist li h3{
	display:block;
	margin-top:25px;
	font-weight:normal;
}
.index_newslist li h3 a{
	font-size:18px;
}
.index_newslist li p{
	overflow:hidden;
	margin-top:25px;
	display:block;
	line-height:25px;
	color:#999;
}
.index_newslist li .more{
	display:block;
	margin-top:25px;
}
.index_newslist li .more a{
	color:#5796cc;
	text-transform:uppercase;
	text-decoration:underline;
}






dl.wendalist{
	width:auto;
	overflow:hidden;
	padding:5px 0;
	border-bottom:1px dotted #bbb;
}
dl.wendalist dt{
	background:url(../images/q.gif) left center no-repeat;
	padding-left:35px;
	height:28px;
	line-height:28px;
	margin-bottom:5px;
}
dl.wendalist dt a{
	color:#000;
	font-size:12px;
}
dl.wendalist dd{
	padding-left:35px;
	background:url(../images/a.gif) left top no-repeat;
	line-height:20px;
	color:#666;
	font-size:12px;
}
.link_zone{
	width:1009px;
	height:90px;
	background:url(../images/link.png) no-repeat;
	overflow:hidden;
	margin:0px auto;
}
.link_zone h2{
	height:70px;
	float:left;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:0 15px;
	margin:8px 0 0 8px;
	background:url(../images/linkh2.jpg) repeat-x;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
	font-size:18px;
	font-weight:normal;
	color:#fff;
	text-transform:uppercase;
	line-height:70px;
}
.link{
	float:left;
	width:880px;
	overflow:hidden;
	margin-top:8px;
}
.link a{
	padding:0px 10px;
	margin:5px 0;
	display:block;
	float:left;
	height:13px;
	line-height:13px;
	font-size:12px;
	color:#444;
	border-right:1px solid #444;
	overflow:hidden;
}

.l{
	width:235px;
	overflow:hidden;
	float:left;
}
.r{
	width:940px;
	float:right;
	overflow:hidden;
}
.index_fenlei{
	width:auto;
	height:525px;
	overflow:hidden;
	padding:0 8px;
	background-color:#ededed;
}
.index_fenlei dt{
	margin-top:10px;
	display:block;
	width:auto;
	height:27px;
	overflow:hidden;
	text-indent:25px;
	background:url(../images/index_fenlei_dt.png) center center no-repeat;
}
.index_fenlei dt a{
	line-height:27px;
	font-size:14px;
	color:#000;
}
.index_fenlei dd{
	line-height:30px;
	height:30px;
	overflow:hidden;
	border-bottom:1px dotted #7a7a7a;
	padding-left:35px;
	background:url(../images/index_fenlei_dd.jpg) 15px center no-repeat;
}
.index_fenlei dd a{
	color:#343434;
	font-size:12px;
	line-height:30px;
}


.index_ad{
	width:1200px;
	overflow:hidden;
	margin:0px auto;
}


ul.wzlist{
	width:auto;

}
ul.wzlist li{
	line-height:40px;
	padding-left:25px;
	border-bottom:1px dotted #d8d8d8;
	background:url(../images/jiantou.png) 10px center no-repeat;
}
ul.wzlist li a{
	color:#333;
	font-size:14px;
}
ul.wzlist li span{
	float:right;
	margin-right:10px;
	color:#989898;
	font-size:12px;
}
ul.wzlist li:hover a{
	color:#019242
}
.new_product{
	overflow:hidden;
	background-color:#ededed;
}
.new_product ul{
	width:auto;
	overflow:hidden;
	padding:10px 0 20px 10px;
}
.new_product ul li{
	float:left;
	overflow:hidden;
	margin-right:10px;
	width:298px;
}
.new_product ul li img{
	width:100%;
	height:auto;
	display:block;
}
.new_product ul li h3{
	display:block;
	text-align:center;
	margin-top:10px;
}
.new_product ul li h3 a{
	font-weight:normal;
	font-size:14px;
}



.news_title{
	display:block;
	overflow:hidden;
	text-align:center;
}
.news_title h2{
	font-size:40px;
	text-transform:uppercase;
	display:block;
	padding-bottom:10px;
	background:url(../images/news_title.png) bottom center no-repeat;
}
.news_title p{
	overflow:hidden;
	margin-top:15px;
	color:#666;
}

#news_zone{
	width:100%;
	overflow:hidden;
	min-width:1200px;
	background:#EDEDED;
}

.index_title{
	overflow:hidden;
	text-align:center;
}
.index_title h2{
	font-size:30px;
	font-weight:normal;
	display:block;
}
.index_title h3{
	display:block;
	font-size:14px;
	color:#999;
	background:url(../images/index_title.png) center center no-repeat;
	margin-top:10px;
	font-weight:normal;
}

.v_zone{
	width:auto;
	overflow:hidden;
	height:435px;
	position:relative;
	margin-top:45px;
}
.vbox{
	border:5px solid #fff;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 	/* Opera */
	overflow:hidden;
	position:absolute;
	-moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
}
#v1{
	width:250px;
	height:250px;
	left:45px;
	top:45px;
}
#v1 .pic{
	width:370px;
	height:370px;
	top:-60px;
	left:-60px;
}
#v1 .play{
	margin:60px 0 0 60px;
}
#v1 h3{
	margin:20px 0 0 30px;
}
#v2{
	width:200px;
	height:200px;
	left:310px;
	top:158px;
}
#v2 .pic{
	width:400px;
	height:300px;
	left:-80px;
	top:-80px;
}
#v2 .play{
	margin:40px 0 0 40px;
}
#v2 h3{
	margin:10px 0 0 25px;
}
#v3{
	width:150px;
	height:150px;
	left:440px;
	top:30px;
}
#v3 .pic{
	width:250px;
	height:250px;
	left:-60px;
	top:-60px;
}
#v3 .play{
	margin:40px 0 0 40px;
}
#v3 h3{
	display:none;
}
#v4{
	width:300px;
	height:300px;
	left:581px;
	top:66px;
}
#v4 .pic{
	width:550px;
	height:450px;
	left:-100px;
	top:-100px;
}
#v4 .play{
	margin:80px 0 0 80px;
}
#v4 h3{
	margin:10px 0 0 10px;
}
#v5{
	width:215px;
	height:215px;
	right:35px;
	top:50px;
}
#v5 .pic{
	width:450px;
	height:350px;
	left:-120px;
	top:-80px;
}
#v5 .play{
	margin:50px 0 0 50px;
}
#v5 h3{
	margin:5px 0 0 30px;
}
.vbox a{
	display:block;
	width:100%;
	height:100%;
	position:relative;
}
.vbox .pic{
	display:block;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
	position:absolute;
	z-index:1;
}
.vbox .zhezhao{
	width:100%;
	height:100%;
	display:block;
	overflow:hidden;
	position:absolute;
	z-index:3;
	left:0;
	top:0;
	background:url(../images/black.png);
}
.vbox .zhezhao .play{
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */	
}
.vbox .zhezhao h3{
	color:#fff;
	display:block;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */	
	text-align:center;
	width:100%;
}

/*
.vbox .zhezhao,.vbox .zhezhao .play,.vbox .zhezhao h3{
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;	
}
.vbox:hover .zhezhao,.vbox:hover .zhezhao .play,.vbox:hover .zhezhao h3{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;	
	transition:0.1s;
}
*/