@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans.eot');
    src: url('../fonts/opensans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff'),
         url('../fonts/opensans.ttf') format('truetype'),
         url('../fonts/Oopensans.svg#opensans') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	font-family: 'opensans';
}
.nav .nLi {
	padding:0 12px;
}
.footer dl{
	margin-right:110px;
}
.nav .sub{
	width:180px;
}
