{$inc url="admin/admin_head.html" /}
<div class="admin_div" onMouseOver="bgcc_iptc(event);">
	<div class="admin_title">
		<p>{$switchLang io="1"}<span id="switchLang">($content /)</span>{/$}<a href="javascript:goto(1);">返回列表</a></p>
		<a href="?c=1">{$model_name /}系统</a>{$title /}
	</div>
	<form action="" onsubmit="return admin_update(this);">
	<input class="post_" type="hidden" name="lanid" value="{$lanid /}" />
	<input class="post_" type="hidden" name="filenamestr" value="{$filenamestr /}" />
	<input class="post_" type="hidden" name="addtime" value="{$addtime /}" />
	<table class="admin_table">
		<tr>
			<td>所属栏目：</td>
			<td>{$classSelectList model="job" /}</td>
		</tr>
		<tr>
			<td>职位：</td>
			<td>
				{$loopLang id="title"}
					<p class="language ($thelanstr /)">
					<input class="inputs post_" name="($thename /)" value="($thevalue /)" type="text" maxlength='255' />
					($thelanname /)</p>
				{/$}
			</td>
		</tr>
		<tr id="field_job_nums">
			<td>人数：</td>
			<td>
				{$loopLang id="nums"}
					<p class="language ($thelanstr /)">
					<input class="inputs post_" name="($thename /)" value="($thevalue /)" type="text" maxlength='255' />
					($thelanname /)</p>
				{/$}
			</td>
		</tr>
		<tr id="field_job_overtime">
			<td>有效期：</td>
			<td>
				{$loopLang id="overtime"}
					<p class="language ($thelanstr /)">
					<input class="inputs post_" name="($thename /)" value="($thevalue /)" type="text" maxlength='255' />
					($thelanname /)</p>
				{/$}
			</td>
		</tr>
        <tr  id="field_job_gender">
			<td>性别：</td>
			<td>
				{$loopLang id="gender"}
					<p class="language ($thelanstr /)">
					<input class="inputs post_" name="($thename /)" value="($thevalue /)" type="text" maxlength='255' />
					($thelanname /)</p>
				{/$}
			</td>
		</tr>
		<tr  id="field_job_age">
			<td>年龄：</td>
			<td>
				{$loopLang id="age"}
					<p class="language ($thelanstr /)">
					<input class="inputs post_" name="($thename /)" value="($thevalue /)" type="text" maxlength='255' />
					($thelanname /)</p>
				{/$}
			</td>
		</tr>
        
		<tr  id="field_job_money">
			<td>待遇：</td>
			<td>
				{$loopLang id="money"}
					<p class="language ($thelanstr /)">
					<input class="inputs post_" name="($thename /)" value="($thevalue /)" type="text" maxlength='255' />
					($thelanname /)</p>
				{/$}
			</td>
		</tr>
		<tr  id="field_job_exp">
			<td>工作经验：</td>
			<td>
				{$loopLang id="exp"}
					<p class="language ($thelanstr /)">
					<input class="inputs post_" name="($thename /)" value="($thevalue /)" type="text" maxlength='255' />
					($thelanname /)</p>
				{/$}
			</td>
		</tr>
		<tr id="field_job_place">
			<td>工作地点：</td>
			<td>
				{$loopLang id="place"}
					<p class="language ($thelanstr /)">
					<input class="inputs post_" name="($thename /)" value="($thevalue /)" type="text" maxlength='255' />
					($thelanname /)</p>
				{/$}
			</td>
		</tr>
		<tr>
			<td>详细：</td>
			<td>
				{$loopLang id="content"}
					<p class="language ($thelanstr /)">($thelanname /)($fckedit id="content" style="Default" /)</p>
				{/$}
			</td>
		</tr>
		<tr>
			<td class="w120"></td><td><input class="mybutton" type="submit" id="submit1" value=" 确定 " /><span id="submiting"></span></td>
		</tr>
	</table>
	</form>
</div>
<script type="text/javascript">
setSelect("classid","{$classid /}");



setTagIo("field_job_age","{$field_job_age /}");
setTagIo("field_job_nums","{$field_job_nums /}");
setTagIo("field_job_overtime","{$field_job_overtime /}");
setTagIo("field_job_gender","{$field_job_gender /}");
setTagIo("field_job_money","{$field_job_money /}");
setTagIo("field_job_exp","{$field_job_exp /}");
setTagIo("field_job_place","{$field_job_place /}");


switchLang("{$formdeflan /}");
pageBottom();
</script>