<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>tdmPHPCMS</title>
<link href="{$skinspath /}css.css" rel="stylesheet" type="text/css" />
<link href="{$webpath /}dialog/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$jspath /}inc_{$lanstr /}.js"></script>
<script type="text/javascript" src="{$jspath /}jquery.js"></script>

<script type="text/javascript" src="{$jspath /}default.js"></script>
<script type="text/javascript" src="{$jspath /}ajaxform.js"></script>
<script type="text/javascript" src="{$jspath /}admin.js"></script>
<script type="text/javascript" src="{$webpath /}dialog/d.js"></script>
<script type="text/javascript" src="{$jspath /}admin_page.js"></script>
<script type="text/javascript" src="{$adminpath /}file/file.js"></script>
<script type="text/javascript">pageloading();</script>
</head>
<body>
<div id="formatLenObj" style="height:0px"></div>
<div id="sucgoto" style="display:'none'"></div>