<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>tdmPHPCMS</title>
<link href="/web/my_admin/skins/css.css" rel="stylesheet" type="text/css" />
<link href="/web/dialog/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="d.js"></script>
<script type="text/javascript" src="/web/js/inc_zh_cn.js"></script>
<script type="text/javascript" src="/web/js/jquery.js"></script>
<script type="text/javascript" src="/web/js/default.js"></script>
<script type="text/javascript" src="/web/js/ajaxform.js"></script>
<script type="text/javascript" src="/web/js/admin.js"></script>
<script type="text/javascript" src="/web/dialog/d.js"></script>
<script type="text/javascript" src="/web/js/page.js"></script>
<script type="text/javascript" src="/web/my_admin/file/file.js"></script>

</head>
<body>
<div id="formatLenObj" style="height:0px"></div>
<div id="sucgoto" style="display:'none'"></div>