var prefix="{$prefix /}";
var ifqqol={$ifqqol /};
var web_io={$web_io /};
var web_model="{$web_model /}";
var webpath="{$webpath /}";
var sitepath="{$sitepath /}";
var incpath="{$webpath /}include/";
var adminpath="{$adminpath /}";
var sucgoto_times={$sucgoto_times /};
var errgoto_times={$errgoto_times /};
var page_prefix="{$page_prefix /}";
var first_pagenums={$first_pagenums /};
var tohtml_delaynums={$tohtml_delaynums /};
var tohtml_delaytimes={$tohtml_delaytimes /};
var plugins_url="{$plugins_url /}";
var count_io={$count_io /};