{$inc url="admin/admin_head.html" /}
<div class="admin_div" onMouseOver="bgcc(event,'TR');">
	<div class="admin_title">
		<p><a href="javascript:did('?action=dbref');" class="sys_refdb">刷新{$model_name /}表结构</a><a href="javascript:goto(1);">返回列表</a></p>	
		<a href="?c=1">{$model_name /}系统</a>{$pagetitle /}
	</div>
<form onSubmit="return admin_update(this);">
<input class="post_" type="hidden" name="lanid" value="{$lanid /}"  />
<table class="admin_table">
  <tr>
    <td>类型：</td>
    <td><select name="type" id="type" class="post_" >
	<option value='QQ'>QQ</option>
		<option value='MSN'>MSN</option>		
		<option value='SKYPE'>Skype</option>
        <option value='ali'>国内旺旺</option>
        <option value='wangwang'>国际旺旺</option>
        <option value='hc'>慧聪</option>
	</select></td>
  </tr>
  <tr>
    <td>号码：</td>
    <td><input class="inputs post_" name="account" type="text" value="{$account /}" /></td>
  </tr>
  <tr>
    <td>名称：</td>
    <td>
    {$loopLang id="title"}
					<p class="language ($thelanstr /)">
					<input class="inputs post_" name="($thename /)" value="($thevalue /)" type="text" maxlength='255' />
					($thelanname /)</p>
	{/$}
                
   </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="mybutton"value=" 提交 " /></td>
  </tr>
</table>
</form>
</div>
<script type="text/javascript">
setSelect("type","{$type /}");
switchLang("{$formdeflan /}");
pageBottom();
</script>