<table class="admin_table" id="table_setting" style="display:none">		
		
		<tr>
			<td>最大级数：</td>
			<td><input class="post_" size="10" type="text" name="class_layer" value="{$class_layer /}" onKeyUp="onlynum(this);" /></td>
		</tr>		
		<tr>
			<td>栏目属性：</td>
			<td>
				<input class="post_" name="class_commend" type="radio" value="1" /> 开启
				<input class="post_" name="class_commend" type="radio" value="0" checked="checked" /> 关闭
			</td>
		</tr>
		<tr>
			<td>栏目Banner: </td>
			<td>
				<input class="post_" name="class_banner" type="radio" value="1" checked="checked" /> 开启
				<input class="post_" name="class_banner" type="radio" value="0" /> 关闭
			</td>
		</tr>
		<tr>
			<td>栏目图片：</td>
			<td>
				<input class="post_" name="class_pic" type="radio" value="1" /> 开启
				<input class="post_" name="class_pic" type="radio" value="0" checked="checked" /> 关闭
			</td>
		</tr>		
		<tr>
			<td>栏目简称：</td>
			<td>
				<input class="post_" name="class_shortname" type="radio" value="1"  /> 开启
				<input class="post_" name="class_shortname" type="radio" value="0" checked="checked" /> 关闭
			</td>
		</tr>	
		<tr>
			<td>栏目介绍：</td>
			<td>
				<input class="post_" name="class_desc" type="radio" value="1" /> 开启
				<input class="post_" name="class_desc" type="radio" value="0"  checked="checked" /> 关闭
			</td>
		</tr>		
	</table>