{$inc url="admin/admin_head.html" /}
<style type="text/css">
p{color:#FF0000; margin-top:10px; font-weight:bold;font-size:18px;}

</style>
<div class="admin_div">
<h1 style="font-size:28px; color:red;font-weight:bold ">错误提示</h1>
<p>尊敬的用户您好</p>
<p>感谢您选择极地网络为您提供网站开发服务，当您看到本提醒时，相信您已经对网站的功能了如指掌了吧。恭喜您~</p>
<p>我们需要提醒您的是，您的网站现在属于试用期，数据装载量已达上限~~如果您还要继续发布更多的数据，请联系我司客服申请网站发布上线吧~！</p>

<p>客服电话：0755-89810525</p>

<p>技术部·杨工</p>
<p>
<a class="class_addchildclass" href="javascript:void(0)" onclick="history.go(-1)" style="margin-left:1px">返回上一页</a>
</p>
</div>
