{$inc url="admin/admin_head.html" /}
<div class="admin_div" onMouseOver="bgcc(event,'TR');">
	<div class="admin_title">
		<p><a href="?action=add&type=switch" class="ad_add">添加图片切换</a></p>
		<a href="?c=1">{$model_name /}系统</a>
	</div>
	<form action="?" method="POST" id="myForm">
	<table class="admin_table center">
		<tr class="admintable_title">
			<td class="cella">ID</td>
			<td>名称</td>
			<!--td>类型</td-->
		</tr>
		{$mylist fun}
		<tr>
			<td>($lanid /)</td>
			<td align="left" onmouseover="menuco(this,'my_($lanid /)');">
				<span id="my_($lanid /)" class='fr ccc' ($admindo_dis /)>
					<a class="ad_del" href="javascript:did('?action=del&lanid=($lanid /)');">[删除]</a>
					<a href="?action=edit&lanid=($lanid /)&type=($type /)">[编辑]</a>
				</span>
				($title /)
			</td>
			<!--td>($typename /)</td-->
		</tr>
		{/$}
	</table>
	</form>
</div>
<script type="text/javascript">pageBottom();</script>