<div class="configtitle">=> 产品图片尺寸 (支持格式：{$pic_ext_c /})</div>
<table class="admin_table" onMouseOver="bgcc(event,'TR');"> 
	<tr>
		<td class="left">产品-列表图尺寸：</td>
		<td>		
			宽 <input class="post_" name="picsize_product_list_w" type="text" value="{$picsize_product_list_w /}" size="4"  /> px&nbsp;&nbsp;
			高 <input class="post_" name="picsize_product_list_h" type="text" value="{$picsize_product_list_h /}" size="4" /> px&nbsp;&nbsp;
		</td>
	</tr>
	<tr>
		<td class="left">产品-详情图尺寸：</td>
		<td>		
			宽 <input class="post_" name="picsize_product_mid_w" type="text" value="{$picsize_product_mid_w /}" size="4"  /> px&nbsp;&nbsp;
			高 <input class="post_" name="picsize_product_mid_h" type="text" value="{$picsize_product_mid_h /}" size="4" /> px&nbsp;&nbsp;
		</td>
	</tr>
	<tr>
		<td class="left">产品-详情图放大图：</td>
		<td>		
			宽 <input class="post_" name="picsize_product_big_w" type="text" value="{$picsize_product_big_w /}" size="4"  /> px&nbsp;&nbsp;
			高 <input class="post_" name="picsize_product_big_h" type="text" value="{$picsize_product_big_h /}" size="4" /> px&nbsp;&nbsp;
		</td>
	</tr>
	<tr>
		<td class="left">产品-相册缩略图：</td>
		<td>		
			宽 <input class="post_" name="picsize_product_thumb_w" type="text" value="{$picsize_product_thumb_w /}" size="4"  /> px&nbsp;&nbsp;
			高 <input class="post_" name="picsize_product_thumb_h" type="text" value="{$picsize_product_thumb_h /}" size="4" /> px&nbsp;&nbsp;
		</td>
	</tr>
</table>

<div class="configtitle">=> 栏目图片</div>
<table class="admin_table" onMouseOver="bgcc(event,'TR');"> 
	<tr>
	    <td class="left">栏目Banner图：</td>
	    <td>
			
			栏 <input class="post_" name="picsize_class_banner_w" type="text" value="{$picsize_class_banner_w /}" size="4" /> px&nbsp;&nbsp;
			高 <input class="post_" name="picsize_class_banner_h" type="text" value="{$picsize_class_banner_h /}" size="4" /> px&nbsp;&nbsp;
		</td>
	</tr>
	
	<tr>
	    <td class="left">栏目列表图：</td>
	    <td>
			
			栏 <input class="post_" name="picsize_class_list_w" type="text" value="{$picsize_class_list_w /}" size="4" /> px&nbsp;&nbsp;
			高 <input class="post_" name="picsize_class_list_h" type="text" value="{$picsize_class_list_h /}" size="4" /> px&nbsp;&nbsp;
		</td>
	</tr>
</table>


<div class="configtitle">=> 网站Logo图</div>
<table class="admin_table" onMouseOver="bgcc(event,'TR');"> 
	<tr>
	    <td class="left">图片尺寸：</td>
	    <td>
			
			宽 <input class="post_" name="picsize_logo_w" type="text" value="{$picsize_logo_w /}" size="4" /> px&nbsp;&nbsp;
			高 <input class="post_" name="picsize_logo_h" type="text" value="{$picsize_logo_h /}" size="4" /> px&nbsp;&nbsp;
		</td>
	</tr>
</table>

<div class="configtitle">=> 首页Banner图</div>
<table class="admin_table" onMouseOver="bgcc(event,'TR');"> 
	<tr>
	    <td class="left">Banner 大图：</td>
	    <td>
			
			栏 <input class="post_" name="picsize_banner_big_w" type="text" value="{$picsize_banner_big_w /}" size="4" /> px&nbsp;&nbsp;
			高 <input class="post_" name="picsize_banner_big_h" type="text" value="{$picsize_banner_big_h /}" size="4" /> px&nbsp;&nbsp;
		</td>
	</tr>
	
	<tr>
	    <td class="left">Banner缩略图：</td>
	    <td>
			
			栏 <input class="post_" name="picsize_banner_thumb_w" type="text" value="{$picsize_banner_thumb_w /}" size="4" /> px&nbsp;&nbsp;
			高 <input class="post_" name="picsize_banner_thumb_h" type="text" value="{$picsize_banner_thumb_h /}" size="4" /> px&nbsp;&nbsp;
		</td>
	</tr>
</table>

<div class="configtitle">=> 友情链接图</div>
<table class="admin_table" onMouseOver="bgcc(event,'TR');"> 
	<tr>
	    <td class="left">图片尺寸：</td>
	    <td>
			
			宽 <input class="post_" name="picsize_link_w" type="text" value="{$picsize_link_w /}" size="4" /> px&nbsp;&nbsp;
			高 <input class="post_" name="picsize_link_h" type="text" value="{$picsize_link_h /}" size="4" /> px&nbsp;&nbsp;
		</td>
	</tr>
</table>

<div class="configtitle">=> 文章图</div>
<table class="admin_table" onMouseOver="bgcc(event,'TR');"> 
	<tr>
	    <td class="left">列表图：</td>
	    <td>
			
			宽 <input class="post_" name="picsize_article_w" type="text" value="{$picsize_article_w /}" size="4" /> px&nbsp;&nbsp;
			高 <input class="post_" name="picsize_article_h" type="text" value="{$picsize_article_h /}" size="4" /> px&nbsp;&nbsp;
		</td>
	</tr>
</table>