{$inc url="admin/admin_head.html" /}
<script type="text/javascript" src="{$jspath /}tohtml.js"></script>
<link href="{$skinspath /}tohtml.css" rel="stylesheet" type="text/css" />
<div class="admin_div">
<table class="admin_table">
	<tr>
		<td height="460" valign="top">
		<div class="tohtml">
			<b class="title">更新数据统计：</b>
			<div id="path">有 <b id="pathnum">0</b> 个栏目，<b id="pagenum">0</b> 个页面：<span id="nowpath">准备就绪</span>{$loadingbar id="path" class="loadingbar" /}</div>
			<div id="file">有 <b id=filenum>0</b> 个文件：<span id="nowfile">准备就绪</span>{$loadingbar id="file" class="loadingbar" /}</div>
			<span id="submiting">
				<input type="button" class="mybutton" value="确定开始？" id="submit1" onclick="tohtml_do();" />
			</span>
			<textarea id="content" readonly></textarea>
		</div>
		</td>
	</tr>
</table>
</div>
<script type="text/javascript">
var p=0,f=0,c=0,d=0,id=0,model="onekey",classid,id,page=0,page_i=0,pathnum=0,filenum=0,pagenum=0,page_next=1,path_over=false,classid_f,classid_p;
//有多少文件
var filenum={$alldatanums /};
getId("filenum").innerHTML=filenum;
var submiting=getId("submiting");
var content=getId("content");
var nowpath=getId("nowpath");
var nowfile=getId("nowfile");

var classidstr="{$classidstr /}";
var pagestr="{$pagestr /}";
var datanumstr="{$datanumstr /}";
var patharr=classidstr.split(",");
var pagearr=pagestr.split(",");
var datanumarr=datanumstr.split(",");

//有多少栏目 
pathnum=patharr.length;
getId("pathnum").innerHTML=pathnum;

//有多少页面
for(var i=0;i<pagearr.length;i++){
	pagenum+=formatnum(pagearr[i],1);
}
getId("pagenum").innerHTML=pagenum;

var fileOk=false,pathOk=false;
if(pathnum==0)pathOk=true;
if(filenum==0)fileOk=true;
function tohtml_do(){
   tohtml_other();


}
function tohtml_dos(){
	classid_f=patharr[0];
	classid_p=patharr[0];
	page=pagearr[0];
	tohtml_path();
	tohtml_file();
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function tohtml_path(){
	if(path_over){
		pathover();
	}else{

		ajax_post(adminpath+"tohtml/?action="+model+"-toclassdo&lanid="+classid_p+"&pages="+pagearr[p]+"&page="+page,"","_path");
	}
}
function pathover()
{
	nowpath.innerHTML="<b class='dook'>栏目更新完毕！</b>";
	pathOk=true;
	if(fileOk)submiting.innerHTML="<b class='dook'>恭喜，全部更新完毕！</b><input type='button' class='mybutton' value='确定完成' onclick='Msg.close();' />";
}
function ajax_post_path(sec){
	page_i++;
	content.value="栏目 “"+sec+"” 更新成功 √ \r\n"+content.value;
	loadingbar("path",page_i,pagenum);//这里总数要用pagenum，page_i为所有执行过的页数。
	if(page_i==pagenum){//这里，所有主栏目已经更新完毕
		pathover();
	}else{
		if(p>=pathnum-1)path_over=true;//在这里，大栏目已经到了最后一个。但要考虑到最后一个栏目有多个页面
		nowpath.innerHTML="正在更新栏目“"+sec+"”";
		delay(page_i,"goon",nowpath);//暂停
	}
}
function goon(){
	if(page>1){//如果页数大于一，表示当前栏目有page页，这是第一次生成的此栏目的第page页。在这里，调用子函数，直到page的值为一。再回到主函数，继续处理下一个栏目。		
		tohtml_path2();
	}else{//如果当前栏目就一页，按一条常规数据处理
		p++;
		page=pagearr[p];
		classid_p=patharr[p];
		page_next=pagearr[p];
		tohtml_path();
	}
}
function tohtml_path2(){
	page--;
	ajax_post(adminpath+"tohtml/?action="+model+"-toclassdo&lanid="+classid_p+"&pages="+pagearr[p]+"&page="+page,"","_path2");
}
function ajax_post_path2(sec){
	page_i++;
	content.value="栏目 “"+sec+"” 的第"+page+"页更新成功 √ \r\n"+content.value;
	loadingbar("path",page_i,pagenum);//这里总数要用pagenum，page_i为所有执行过的页数。
	nowpath.innerHTML="正在更新栏目 “"+sec+"” 的第"+page+"页";
	delay(page_i,"goon2",nowpath);//暂停
}
function goon2(){
	if(page>1){
		tohtml_path2();
	}else{//跳回主函数
		p++;
		page_next=1;
		classid_p=patharr[p];
		page=pagearr[p]
		tohtml_path();
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function tohtml_file()
{//f为第几个文件，d为栏目c生成数据的倒计数,总数为datanumarr[c]。C为第几个栏目ID
	if(datanumarr[c]>0){
		classid_f=patharr[c];
		ajax_post(adminpath+"tohtml/?action=onekey-tofiledo2&classid="+classid_f+"&lanid="+id+"&d="+d,"","_file");
	}else{
		c++;
		if(c>=datanumarr.length){
			fileover();
		}else{
			tohtml_file();
		}
	}
}
function ajax_post_file(sec){
	f++;
	d++;
	arr=sec.split("|");
	id=formatnum(arr[1],0);
	content.value=arr[0]+"\r\n"+content.value;
	loadingbar("file",f,filenum);
	if(f>=filenum){
		fileover();
	}else{
		if(d>=datanumarr[c]){c++;d=0;}
		nowfile.innerHTML="正在更新第 "+f+" 个文件";
		delay(f,"tohtml_file",nowfile);
	}
}
function fileover()
{
	nowfile.innerHTML="<b class='dook'>文件更新完毕！</b>";
	fileOk=true;
	if(pathOk)submiting.innerHTML="<b class='dook'>恭喜，全部更新完毕！</b><input type='button' class='mybutton' value='确定完成' onclick='Msg.close();' />";
}

pageloaded();
</script>
</body>
</html>